@model RHA.Models.Cart

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to remove this item?</h2>

    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Yes" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }

